body {
  margin: 0 auto;
  font-family: Helvitica;
  text-align: center;
  width: 960px;

}

.header {
  background-image: url("../../resources/images/the-flatiron-building.jpg");
  background-size: cover;

  color:white;
  font-size: 18px;
}

.header h1 {
  font-size: 70px;
  font-weight: bold;
}

.header_navigation  a {
  color: white;

}

.header_navigation li {
  list-style: none;
  font-size: 18px;
}

.process {
  font-size: 14px;
  color: black;
}

.process h2 {
  font-size: 32px;
  font-weight: bold;
}

.process h3 {
  font-size: 23px;
  font-weight: bold;
}
.process #design {
  color:white;
  background-image: url("../../resources/images/the-flatiron-building.jpg");
  background-size: cover;
  font-weight: bold;
}

.footer {

  background-color:dimgray;
  color:white;
  text-align: left;
}

.footer li {
  list-style: none;
  display: inline;
}

.footer a {
  color: white;
}
#copyright {
  font-size: 11px;
}
