/* *************************************** */
/* Common Stylings                         */
/* *************************************** */

html{
    background-color: black;
    width: 100%;
    font-size: 16px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }

/* Default Heading*/

  h1, h2, h3, h4, h5, h6{
    font-family: 'Georgia', Times, Times New Roman, serif; 
  }
 h1{
    font-size: 1.5rem;
  }
 h2{
    font-size:1.375rem;
  }
 h3{
    font-size: 1.25rem;
  }
/* Common to all pages */
  #about, #portfolio, #contact {
    background-color:transparent;
    border: none;
    color:#777777;
    padding: .25rem .5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
 
body{
    width: 100%;
    height: auto;
    color:#777777;
    margin: 0 auto;
  }
 
 /* Navigation Bar */
  #headings{
     height: 4.25rem;
     background-color: whitesmoke;
     width:960px;
     border-bottom: .1rem solid #cccccc;
     margin: 0 auto;
     
  }
  header{
    width:71.850%;
    width:100%;
    }

 header h2{
     font-size:1.50rem;
     color:#4AAAA5;
     margin-top:1rem;
     padding-bottom: 0.5rem;
     border-bottom: .15rem solid #4AAAA5 ;
     margin-bottom: 1rem;
  }
 
 #nameHighlight{
    background-color: #4aaaa5;
    width:40%;
    float:left;
    font-weight: bold;
  }
 
 header h1{
     color:#ffffff;
     margin: 1.25rem 0 1.25rem 0;
     text-align: center;
     font-size: 1.75rem;
  }

  nav{
    width:28.125%;
    float:right;
    text-align: left;
    font-size: 1.125rem;
    padding: 0;
    margin-top:1.25rem;
     
 }
 
#siteNavigation li{
   list-style: none;
   display: inline-block;
   margin: .125rem .125rem .125rem 0;
   
  }

  button{
      font-size: 1.125rem;
      margin:0 .250rem 0 0;
  }

  /* Main Section */
main{
    border-bottom: .5rem solid #4aaaa5;
    width:960px;
    margin: 0 auto;
 }

/* Right Column */
#aboutMe{
    margin: 1rem  .5rem 1rem 0rem;
    width: 40.625rem;
    border:.1rem solid #FFFFFF;
    background-color: #ffffff;
    float:left;
    overflow: hidden;
 }

#aboutMeContainer{
    margin: 1rem;
    height: auto;
  }

#aboutMeContainer header{
    color:#4DA8A3;
    border-bottom: .15rem solid #dddddd ;
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    margin: 1rem 0 0.5 rem 1rem;
 }

 header h2{
    font-weight: bold;
    margin-bottom: .25rem;
    border-bottom: .15rem solid #E9E7E7 ;
 }

 #imageContainer{
    height: 5rem;
    width: 5rem;
    background-color: black;
    background-image: url("https://media-exp2.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAgkAAAAJGFkNDI0NGU0LTg0ZWMtNGMxMy1hOTU0LWY0NjNhNzAyOTYyZQ.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
    position: relative;
    top:0;
    margin: 0 1rem 0rem 0;
 }


#aboutMeContent p{
    font-size: 1rem;
    margin : 0.5rem;
 }
 
/*Right Column Social Media*/
 aside{
    margin: 1rem 0 0 1rem;
    width:16.875rem;
    height:8.425rem;
    border:.1rem solid #FFFFFF;
    background-color: #ffffff;
    float:left;
 }

 #connectWithMeContainer {
    width: 100%;
    color: #4DA8A3;
    text-align: center;
}

 #connectWithMeContainer h3{
    margin-top:1rem;
    padding-bottom: 0.5rem;
    border-bottom: .15rem solid #e9e7e7 ;
    margin-bottom: 0.5rem;
 }

 #socialMediaContainer{
    width:100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
 }

 #smContainer img{
    height: 3.5rem;
    width:auto;
    margin: .25rem;
 }

 footer{
    background-color: #666666;
    width:960px;
    text-align: center;
    font-size:.75rem;
    color:whitesmoke;
    height: 4rem;
    margin: 0 auto;
    
}
 
#copyTag{
    position: relative;
    top: 40%;
    opacity: 0.5rem;
    width:100%
}
/* *************************************** */
/* Portfolio Page                          */
/* *************************************** */

.portfolioContainer{
    width: 95%;
    height: auto;
    float: left;
    display: flex;
    justify-content: space-between;
}

.portfolioImageContainer{
    width: 45%;
    height: 33%;
    float:left;
    overflow: hidden;
    margin: 0 .5rem .5rem 0.5rem;
}

.portfolioImageContainer img{
    margin: 0 auto;
    height: 10rem;
    width: auto;
    transition: .5s ease-in;
}

.portfolioImageContainer img:hover{
    height:20rem ;
    width:auto;
    transition: .5s ease-out;
    overflow:visible;
}

.portfolioLabelContainer{
    width:100%;
    position: relative;
    background-color: #4aaaa5;
    color:white;
    bottom: 3rem;
    height: 1.5rem;
    text-align: center;
}

.portfolioLabelContainer p {
    position: relative;
    top: 15%;
    font-style: italic;
    font-weight: bold;
}

/* *************************************** */
/* Contact Page                          */
/* *************************************** */

 form label{
     width: 90%;
     display:block;
     margin: 1rem 1rem .25rem 0;
     font-weight: bold;
     opacity: .45;
 }

 input, textarea{
     width:90%;
     display:block;
     opacity: .45;
 }

#emailSubmit{
    width: 20%;
    margin: 1rem 0 0 0;
    padding: .25rem 0 .25rem 0;
    color:white;
    background-color: #4aaaa5;
    font-weight: bold;
    opacity: .9;
} 


/* slightly enhanced, universal clearfix hack */
/* This hack was lifted from Nathan Smith */
/*https://perishablepress.com/lessons-learned-concerning-the-clearfix-css-hack/ */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { 
    display: inline-block; 
}
/* start commented backslash hack \\*/
* html .clearfix { 
    height: 1%; 
}
.clearfix { 
    display: block; 
}
/* close commented backslash hack */

/* *************************************** */
@media only screen and (max-width:980px) and (min-width: 769px){
    
    body{
        margin: 0 auto;
    }

    main {
        margin: 4rem;
        width: 100%;
    }

    #headings{
        height: 4.25rem;
        background-color: whitesmoke;
        width:100%;
        border-bottom: .1rem solid #cccccc;
        margin: 0 auto;
    }

    header{
        width:50%;
    }
    nav{
        width: 45%;
    }

    header h1{
        font-size: 1.35rem;
    }
 
    #aboutMe{
        margin: 1rem  .5rem 1rem 0rem;
        width: 100%;
       
    }

    aside{
        float:left;
        margin:0;
        width:100%;
        display:block;
    }
    #footerSection{
        width:100%;
        margin-top:-4rem;
        margin-left: 4rem;
    }
    footer{
        width:100%;
    }

}
/* General Tablet Size */    
@media only screen and (max-width:768px) and (min-width:641px){
  #imageContainer{
    height: 5rem;
    width: 5rem;
    background-size: contain;
    float: left;
    position: relative;
    top:0;
     
    }
    main {
        margin:0;
        width: 100%;
    }
    #aboutMe{
        width: 95%;
    }

    #aboutMeContainer{
       margin:0;
    }

    aside{
        margin: 0;
        width:95%;
        display:block;
        float:left;
    }

    #connectWithMeContainer{
        text-align: left;
        margin-left: .5rem;
    }

    #socialMediaContainer{
        justify-content: left;
        margin-left:.5rem;
    }
    
    #nameHighlight{
       font-size:1.25rem;
       width:100%;  
       
    }
    button{
        font-size: .75rem;
        
    }

    nav{
        width:65%;
        float:right;
    }
    #siteNavigation{
        float:right;
    }
    header{
        width: 35%;
    }

    footer{
        width: 100%;
        margin:0;
    }

    #footerSection{
        width:100%;
    }

    nav{
        float:left;
    }
 
}

/* General Phone in Landscape Size */    
@media only screen and (max-width:640px){
main{
    width:100%;
    margin:0 auto;
  } 
    
#imageContainer{
    height: 20rem;
    width: 100%;
    background-size: 100% 100%;
    float: left;
    position: relative;
    top:0;
    }
     
    #aboutMe{
        width: 100%;
        overflow: visible;
        
        
    }

    #aboutMeContainer{
       margin:0;
       width:100%;
       
       
    }

    aside{
        margin: 0;
        width:95%;
        display:block;
        float:left;
    }

    #connectWithMeContainer{
        text-align: left;
        margin-left: .5rem;
    }

    #socialMediaContainer{
        justify-content: left;
        margin-left:.5rem;
    }
    
    #nameHighlight{
       font-size:1.25rem;
       width:100%;  
       
    }
    button{
        font-size: .75rem;
        
    }

    nav{
        width:100%;
        float:right;
        text-align: center;
        margin-top:0;
        margin-bottom: 2rem;
    }
    #siteNavigation{
        align-content: center;
        background-color: #FFFFFF; 
      
    }
    header{
        width: 100%;
         
    }

    #headings{
        height: 4.25rem;
        background-color: whitesmoke;
        width:100%;
        border-bottom: .1rem solid #cccccc;
        margin: 0 auto;
    }

    #footerSection{
        width:100%;
    }

    #aboutMeContainer{
        width:100%;
    }

    footer{
        width: 100%;
        margin:0;
    }

 /* Custom CSS for portfolio page */
 .portfolioContainer{
    width: 100%;
    height: auto;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
     
 }
  .portfolioImageContainer{
    width:100%;
    margin: 0 auto;
 }

}

 /* Custom CSS for About page */